.okk{
    height: 300px;
    width:300px;
    background: url('./image/bag.jpg');
    background-size: 100% 95%;
    text-align: center;
   
	box-shadow:0 0 10px black;
}
input{
    width:80px;
    height:30px;
    border-radius: 10px ;
    background:white;
    border:none;
    box-shadow:0 0 10px black;
}
h2{
    color:blue;
}