.okk{
   
 background-color: ;
   justify-content:center ;
    text-align: center;
   
	
}
img{
    height: 300px;
    width:300px;
}
button{
    font-size:25px;
    background-color:gray;
    border-radius:15px;
}